@import "tailwindcss";

.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #3f3f46 #27272a; /* Firefox: thumb zinc-700, track zinc-800 */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Largura fina pro Chrome/Safari/Edge */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f46; /* zinc-700 */
    border-radius: 4px; /* Bordas arredondadas */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #27272a; /* zinc-800 */
  }